* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-item {
  width: 960px;
  margin: 50px auto;
  list-style: none;
}

.item {
  padding: 20px;
}

.item:nth-child(odd) {
  background-color: rgb(231, 228, 228);
}

.box-list {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
}

.box1 {
  width: 30%;
  height: 200px;
  background-color: orange;
}

.box2 {
  width: 30%;
  height: 200px;
  background-color: yellow;
}

.box3 {
  width: 30%;
  height: 200px;
  background-color: yellow;
}

.box4 {
  width: 30%;
  height: 200px;
  background-color: yellow;
}

.box5 {
  width: 30%;
  height: 200px;
  background-color: orange;
}

.box6 {
  width: 30%;
  height: 200px;
  background-color: yellow;
}

.box7 {
  width: 30%;
  height: 200px;
  background-color: yellow;
}

.box8 {
  width: 30%;
  height: 200px;
  background-color: yellow;
}

.box9 {
  width: 30%;
  height: 200px;
  background-color: orange;
}
